.main-page {
    position: relative;
}
.main-form {
    width: 1400px;
    background-color: #18181B;
    padding: 20px;
    margin-left: 15px;
    border-radius: 15px;
}
.div__detail {
    padding: 10px;
    border: 1px solid #2F323E;
    border-radius: 20px;
}
.div__link {
    margin-top: 25px;
    color: #2E7FF1;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    cursor: pointer;
}
.submit {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
}
.submit p{
   width: 30px
}

.h2__white{
    color:#fff;
    font-weight: 700;
    font-size: 30px;
    margin-left: 10px;
    position: relative;
    padding: 30px 5px;
}

.sh_ttl{
    color:#fff;
    font-size: 20px;
    padding-bottom: 10px;
}

.col2{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.col2 div.col2-item{
    width: 48%;

}

.status{
    margin: 70px 20px 0 20px;
}

.ant-steps-item-title{
    color:#7f859f!important;
    font-size: 14px;
}

.ant-steps-item-description{
    color:#fff!important;
    font-size: 16px!important;
    font-weight: 700!important;
}
.ant-steps .ant-steps-item-process .ant-steps-item-icon,
.ant-steps .ant-steps-item-wait .ant-steps-item-icon{
    background: #fff!important;
}
.ant-steps .ant-steps-item-process .ant-steps-item-icon >.ant-steps-icon,
.ant-steps .ant-steps-item-wait .ant-steps-item-icon >.ant-steps-icon{
    color: #1677ff!important;
}

.ant-steps .ant-steps-item-finish .ant-steps-item-icon{
    background-color: #1677ff!important;
}

.ant-steps .ant-steps-item-finish .ant-steps-item-icon >.ant-steps-icon{
    color: #fff!important;
}

.ant-steps .ant-steps-item-process>.ant-steps-item-container>.ant-steps-item-tail::after{
    background-color: #1677ff!important; 
}

.div__left{
    float:left;
    width: 90%;
    height: 30px;
    background-color: #2f323e;
    border-radius: 5px;
    margin-right: 10px;
    height: 40px;
 }

 .div__left_outside{
    position: relative;
 }

 .div__left_outside .div__left_inner{
    position: absolute;
    left: 10px;
    top: 10px;
    color: #7F859F;
    z-index: 100;
 }
 .arrow {
    border: solid #ffffff;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 3px;
    position: absolute;
    left: calc(90% - 18px);
    top: 15px;
    color: #7F859F;
    z-index: 100;
  }

  
  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }


 .main-page .ant-select .ant-select-outlined {
    background-color: #2F323E;
    border: none;
    color: white
}

.select__item {
    width: 100%;
    background-color: #2F323E
}

.ant-select .ant-select-selection-placeholder {
    color: #7F859F;
}


.ant-select-selection-item {
    color: black
}

.div__header {
    height: 150px;
    background: linear-gradient(rgb(39, 91, 165, 0.8), rgb(1,1,1,0.5));
    position:absolute;
    top:0;
    left:0;
    width:100%;
}

.div_inline span{
    display: inline-block;
    margin: 10px
}

.div_inline .title{
   color: grey;
   margin-right: 15px;
}
.div_inline  .div__inline_info {
    border-left: 2px solid grey;
    padding-right: 2px;
    display: inline-block;
    line-height: 8px;
}
.div_inline  .div__inline_info:nth-child(2){
    border-left: none!important;
}
.div_inline .close{
    color: red;
    display: inline-block;
    cursor: pointer;
 }

/* .div__listInfo:last-child {
    border: none;
    display: inline-block;
} */

.ant-select-single{
    border-radius: 5cqh!important;
}

.ant-select-single .ant-select-selector{
    background: #2f323e!important;
    border: none!important;
}

.div__nodata {
	display: flex;
	justify-content: center;
	padding: 20px;
	flex-direction: column;
	align-items: center;
}
