.main-page {
    display: flex;
}
.main-form {
    width: 1000px;
    background-color: #18181B;
    padding: 20px;
}
.detail {
    padding: 10px;
    border: 1px solid #d9d9d9;
    border-radius: 20px;
}
.link {
    margin-top: 15px;
    color: #2E7FF1;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
}
.submit {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
}
.submit p{
   width: 30px
}

.mh_ttl{
    color:#fff;
    font-weight: 700;
    font-size: 30px;
    padding-bottom: 30px;
}

.sh_ttl{
    color:#fff;
    font-size: 20px;
    padding-bottom: 10px;
}

.col2{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.col2 div.col2-item{
    width: 48%;

}

.status{
    margin: 70px 20px 0 20px;
}

.ant-steps-item-title{
    color:#7f859f!important;
    font-size: 14px;
}

.ant-steps-item-description{
    color:#fff!important;
    font-size: 16px!important;
    font-weight: 700!important;
}
.ant-steps .ant-steps-item-process .ant-steps-item-icon,
.ant-steps .ant-steps-item-wait .ant-steps-item-icon{
    background: #fff!important;
}
.ant-steps .ant-steps-item-process .ant-steps-item-icon >.ant-steps-icon,
.ant-steps .ant-steps-item-wait .ant-steps-item-icon >.ant-steps-icon{
    color: #1677ff!important;
}

.ant-steps .ant-steps-item-finish .ant-steps-item-icon{
    background-color: #1677ff!important;
}

.ant-steps .ant-steps-item-finish .ant-steps-item-icon >.ant-steps-icon{
    color: #fff!important;
}

.ant-steps .ant-steps-item-process>.ant-steps-item-container>.ant-steps-item-tail::after{
    background-color: #1677ff!important; 
}

.div__left{
    float:left;
    width: 90%;
    height: 30px;
    background-color: white;
    border-radius: 5px;
    margin-right: 10px;
 }

 .main-page .ant-select .ant-select-outlined {
    background-color: #2F323E;
    border: none;
    color: white
}