
.list-row-item {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 15px;
    font-weight: 500;
    align-items: center;
    border-bottom: 1px solid gray;
    padding: 10px 15px;
}

.list-row-item-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-weight: 500;
    align-items: center;
    background-color: #212226;
    border-radius: 10px;
    height: 55px;
    padding-left: 15px;
}

.expandable  {
    border-bottom: none
}

.selected {
    background-color: #00285F;
}

.list-row-item.deactive {
    opacity: 0.6;
}

.list-row-item.list-row-item-select {
    background: #FFF8FF;
    border: 1px #3657c6 solid;
}

.table-body {
    border: 1px solid gray;
    border-radius: 10px;
    margin-top: 15px;
}