@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

* {
  color: white
}


.action-btn {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  padding: 2px;
}


.title-h1 {
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
  margin-bottom: 10px;
}

.tableFixHead table thead th.text-left {
  text-align: left;
}

.tableFixHead table thead th.text-right {
  text-align: right;
}

.tableFixHead table tbody td {
  vertical-align: top;
  border: 1px solid #F1F1F1;
  padding: 10px;
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  color: #5C5C5C;
}

th {
  background-color: #212226;
  height: 60px;
}

td {
  height: 60px;
}

table tbody td.text-left {
  text-align: left;
}

table .w150 {
  width: 150px;
}

table .w200 {
  width: 200px;
}

table .w250 {
  width: 250px;
}
table .w300 {
  width: 300px;
}
table .w350 {
  width: 350px;
}

tr td {
  border-bottom: 1px solid gray;
}

td {
  padding: 8px;
}
th {
  padding: 12px;
  text-align: left;
  color: white;
}