.layout-cols {
    background: black;
    color: white;
  }
  
  .layout-cols-inner {
    margin: 0 auto;
    display: flex;
    position: relative;
    color: white;
  }
  .layout-cols-inner p {
    color: white;
  }

  .layout-cols-inner span {
    color: white;
  }

  .center-cnt {
    width: 100%; 
    border-left: 1px solid #d9d9d9;
    box-sizing: border-box;
    min-height: 100vh;
    margin-left: 0px; 
  }