.popup-main .ant-modal-body {
    overflow: hidden !important;
    height: auto;
    max-height: inherit !important;
    border-radius: 10px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    
}

.popup-main .ant-modal-content {
    box-shadow: none;
    background: black;

}
.popup-main p {
    color: white;
}

.popup-main .ant-input-outlined {
    background-color: #2F323E;
    border: none;
    color: white
}
